@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #161719;
  font-family: 'Roboto', sans-serif;
  color: white;
}

#output {
  padding: 66px 20px;
  text-align: center;
}

#output canvas {
  border: 1px solid #313334;
  border-radius: 16px;
}

#score {
  display: flex;
  justify-content: center;
}

#score > div {
  background: #3e4346;
  padding: 10px 22px;
  border-radius: 3px;
  width: 60px;
  display: inline-block;
  margin: 12px;
  font-weight: bold;
}

.header {
  padding: 15px;
}

.link {
  margin: 0 8px;
  color: white;
  text-decoration: none;
  vertical-align: middle;
}

.footer {
  width: 100%;
  color: #333;
  font-size: x-small;
  position: absolute;
  bottom: 10px;
  text-align: center;
}
